<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sleeping Dinosaur</title>
	<link rel="shortcut icon" href="icono.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="css.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="localization.js"></script>
</head>

<body ng-app="index" ng-controller="indexController">
	<div class="container">
		<div>
			<h1 id="banner">Sleeping Dinosaur
				<img src="Logo.png" alt="" width="150" height="85">
			</h1>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light">

			<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#toggle_div_1" aria-controls="toggle"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="toggle_div_1">
				<a class="nav-link" href="index.html">{{home}}</a>
				<a class="nav-link activo" href="contact.html">{{contact}}</a>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
						{{social}}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Facebook</a>
						<a class="dropdown-item" href="#">Twitter</a>
						<a class="dropdown-item" href="#">Youtube</a>
					</div>
				</div>
				

			</div>
		</nav>

		<div class="row">
			<div class="col"></div>
			<div class="col-8">
				<form method="post" id="gform" action="https://script.google.com/macros/s/AKfycbwddr6tmBZpnB9MLWgAs6PnuCAZ06By4QIKgV_iNQ/exec">
					<label for="nombre">{{name}}</label>
					<input type="text" autocomplete="on" class="form-control" id="nombre" name="Name" placeholder={{enter_name}} required>
					<label for="correo">{{mail}}</label>
					<input type="email" autocomplete="on" class="form-control" id="correo" name="Email" placeholder={{enter_mail}} required>
					<label for="subject">{{subject}}</label>
					<input type="subject" autocomplete="on" class="form-control" id="subject" name="Subject" placeholder={{subject}} required>
					<label for="mensaje">{{message}}</label>
					<input type="textarea" autocomplete="off" rows="3" class="form-control" id="mensaje" name="Message" placeholder={{enter_message}}
					    required>
					<label class="sr-only">Keep this field blank</label>
					<input id="honeypot" type="text" name="honeypot" value="" />
					<button type="submit" class="btn btn-primary">{{send}}</button>
				</form>
				<div id="thankyou_message" style="display: none">
					<h4>{{message_sent}}</h4>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	    crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	    crossorigin="anonymous"></script>
	<script type="text/javascript" src="after-submit.js"></script>
</body>

</html>