footer,div,nav{text-align: center}
@font-face { font-family: OptimusPrinceps; src: url('OptimusPrinceps.ttf'); } 
h1 { font-family: OptimusPrinceps, sans-serif;font-size: 8vw;-webkit-text-stroke: 1px yellow;-webkit-text-fill-color: black}
h4{ font-family: OptimusPrinceps, sans-serif;-webkit-text-fill-color: black}
label{ font-family: OptimusPrinceps, sans-serif;-webkit-text-fill-color: white;-webkit-text-stroke: 1px black;}
body{border: 0px solid black;
    padding: 25px;
    background: url("Logo.png");
    background-repeat: round;
background-color: aqua}
footer{-webkit-text-fill-color: black}
a:hover{color: yellow}
a{-webkit-text-stroke: 1px black;-webkit-text-fill-color: black;background-color: white;border-radius: 10px}

.slid{width: 100px;height: 350px}
.navbar{
    display: inline-block;
    float: none;
    text-align: center;
}
.activo{
    border: solid black; border-radius: 15px; color: gold
}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;-webkit-text-stroke: 1px black;-webkit-text-fill-color: white;
    font-size:2vw
  }
  #overlay{z-index: 10}
 
  #overlay {
    height:0px;
    overflow:visible;
    pointer-events:none;
    background:none !important;
}
.card{display:inline-flex;vertical-align: top}

#honeypot {
    display: none; /*makes the field not visible to humans*/
  }
   

  .containery {
    position: relative;
    display: inline;
  }
  
 
  
  .overlayy {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .containery:hover .overlayy {
    bottom: 0;
    height: 200%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
  }



  .containerr {
    position: relative;
     display: inline;
  }
  
  .overlayr {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .containerr:hover .overlayr {
    bottom: 0;
    height: 200%;
  }
 
  img{
    border-radius: 10px;
  }