<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sleeping Dinosaur</title>
	<link rel="shortcut icon" href="icono.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="css.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="localization.js"></script>
</head>

<body ng-app="index" ng-controller="indexController">
	<div class="container">
		<h1 id="banner">Sleeping Dinosaur
			<img src="sleeping.png" alt="" width="30" height="30">
		</h1>

		<nav class="navbar navbar-expand-lg navbar-light">

			<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#toggle_div_1" aria-controls="toggle"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="toggle_div_1">
				<a class="nav-link" href="index.html">{{home}}</a>
				<a class="nav-link" href="info.html">{{info}}</a>
				<a class="nav-link activo" href="gallery.html">{{gallery}}</a>
				<a class="nav-link" href="contact.html">{{contact}}</a>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
						{{social}}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Facebook</a>
						<a class="dropdown-item" href="#">Twitter</a>
						<a class="dropdown-item" href="#">Youtube</a>
					</div>
				</div>
				<a class="nav-link" href="http://store.steampowered.com/?l=spanish" target="blank">{{buy}}
					<img src="steam.png" alt="" width="30" height="30" alt="">
				</a>

			</div>
		</nav>

		<div class="row">
			<div class="col"></div>
			<div class="col-8">
				<div>
					<div>
						<div id="carousel-slides" data-interval="false" class="carousel slide" data-ride="carousel" style="border:solid black">
							<ol class="carousel-indicators">
								<li data-target="#carousel-slides" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-slides" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img class="d-block img-fluid w-100 h-100 slid" src="captura1.png" alt="First slide">
								</div>
								<div class="carousel-item">
									<div id="vid" class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZamjxJp59II?rel=0&amp;showinfo=0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carousel-slides" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carousel-slides" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>



						</div>
					</div>
				</div>

			</div>
			<div class="col"></div>
		</div>
	</div>
	<footer>
		Sleeping Dinosaur
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	    crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	    crossorigin="anonymous"></script>
</body>

</html>