<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sleeping Dinosaur</title>
	<link rel="shortcut icon" href="icono.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="css.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="localization.js"></script>
</head>

<body ng-app="index" ng-controller="indexController">
	<div class="container">
		<h1 id="banner">Sleeping Dinosaur
			<img src="Logo.png" alt="Logo" width="150" height="85">
		</h1>

		<nav class="navbar navbar-expand-lg navbar-light">

			<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#toggle_div_1" aria-controls="toggle"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="toggle_div_1">
				<a class="nav-link activo" href="index.html">{{home}}</a>
				<a class="nav-link" href="contact.html">{{contact}}</a>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
						{{social}}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Facebook</a>
						<a class="dropdown-item" href="#">Twitter</a>
						<a class="dropdown-item" href="#">Youtube</a>
					</div>
				</div>


			</div>
		</nav>

		<div class="row">
			<div class="col"></div>
			<div class="col-8">
				<div id="contenedor">
					<div class="containery">
						<a class "imglink" href="">
							<img src="procedural.PNG" alt="ProceduralGeneration" width="300" height="300" alt="">
						</a>
						<div class="overlayy">
							<a class "imglink text" href="">
								<div class="text">{{imagen}}</div>
							</a>
						</div>
					</div>
					<div class="containerr">
						<a class "imglink" href="https://lauro123.github.io/Lita/">
							<img src="lita.PNG" alt="LostInTheAbysm" width="400" height="300" alt="">
						</a>
						<div class="overlayr">
							<a class "imglink text" href="">
								<div class="text">{{imagen}}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	    crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	    crossorigin="anonymous"></script>


</body>

</html>